trunk/KohtopaWeb/language.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="competitie">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="entry" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="entry">
        <xs:complexType mixed="true">
            <xs:attribute name="name" type="xs:NMTOKEN" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>